[submodule "themes/kraiklyn"]
	path = themes/kraiklyn
	url = git@github.com:jsnjack/kraiklyn.git
[submodule "public"]
	path = public
	url = git@github.com:cielleech/cielleech.github.io.git
[submodule "cielleech.github.io"]
	path = cielleech.github.io
	url = git@github.com:cielleech/cielleech.github.io.git
	branch = master
